.gradient-page {
  background: linear-gradient(
    to top,
    #8b5cf6 2%,      /* 紫色 */
    #ffffff 15%      /* 白色 */
  );
}

/* 让内容区背景透明，否则会盖住渐变 */
.gradient-page .VPContent,
.gradient-page .VPDoc,
.gradient-page .vp-doc {
  background: transparent;
}

.VPHomeHero .image-container {
  /* 水平偏移 */
  transform: translateX(10px);
  /* 或垂直偏移 */
  transform: translateY(10px);

  transform: scale(0.9); /* 缩小到80% */
  /* 或同时调整位置 */
  transform: scale(0.9) translateX(0px);

}